* {
    /* 初始化 取消页面的内外边距 */
    padding: 0;
    margin: 0;
}

body {
    /* 弹性布局 让页面元素垂直+水平居中 */
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    /* 让页面始终占浏览器总高 */
    height: 100vh;
    background-color: #F8F7F7;
    z-index: 3;
}

/*返回按钮*/
.back-btn {
    display: flex;
    position: fixed;
    text-align: center;
    width: 60px;
    height: 60px;
    top: 65px;
    left: 10px;
    border-radius: 50px;
    background-image: url("../images/back_bg.png");
    background-repeat:  no-repeat;
    background-size: 100% 100%;
    z-index: 10;
}

.back-btn img {
    width: 35px;
    height: 40px;
    margin: auto;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: white;
}

.swiper-slide img {
    width: 100vw;
    max-width: 100%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}