* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    border-width: 15px 15px;
    overflow: hidden;
}

nav {
    width: 100%;
    height: 96px;
    float: left;
}

/*logo样式*/
.logo {
    /* 设置 logo 的宽度和高度 */
    width: 90px;
    height: 96px;
    /* 使用背景图片实现 logo */
    background: url("../images/logo.png") no-repeat center;
    background-size: 100% 100%;
    /* 使 logo 水平居中 */
    margin: 0 auto;
}

#logo-btn {
    display: block;
    width: 90px;
    height: 96px;
    position: fixed;
    z-index: 3;
}

/*#########加载动画部分############*/
.arjs-loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arjs-loader div {
    /*text-align: center;*/
    /*font-size: 1.25em;*/
    /*color: white;*/
    /* 弹性布局 让页面的元素垂直+水平居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.arjs-loader div span {
    /* 这里可以直接使用外部引入的字体样式 */
    font-family: "Titan One";
    font-size: 30px;
    color: #fff;
    /* 这是字体的描边第一个值是粗细,第二个值是颜色 */
    -webkit-text-stroke: 3px rgba(0, 0, 0, 0);
    /* 单词大写 */
    text-transform: uppercase;
    /* 文字阴影 */
    text-shadow: 0 0 #f3c623, 0 0 #f2aaaa;
    /* 让文字先向下走自身高度的50%,然后顺时针旋转4度 */
    transform: translate(0, 50%) rotate(4deg);
    /* 动画 名称 时长 第三个值是延迟时长 calc是自动计算的方法,里面写的var()函数是会调用我们事先自定义好的属性值,我们刚才给span添加的--i:*就是一个自定义属性,var()能调用到相应的span的定义好的属性值,然后在*120ms来计算每个文字的延迟时长省时省力,第四个值是两头慢,中间快,第五个值是无线运动 */
    animation: move 2s calc(var(--i) * 120ms) ease-in-out infinite;
}

/* 定义动画 */
@keyframes move {
    0%,
    100% {
        text-shadow: 0 0 #f3c623, 0 0 #f2aaaa;
    }
    33.33% {
        text-shadow: 0 40px #f37121, 0 60px #f2aaaa;
    }
    50% {
        text-shadow: 0 0 #8fc0a9, 0 0 #84a9ac;
        /* 这个跟刚才写的刚好相反动画到一半向上走自身的一半,逆时针旋转4度 */
        transform: translate(0, -50%) rotate(-4deg);
    }
    66.66% {
        text-shadow: 0 -40px #d54062, 0 -60px #8fc0a9;
    }
}

/*########底部#######*/
.container {
    /* 溢出隐藏 */
    overflow: hidden;
    display: block;
    width: 70px;
    height: 90px;
    text-align: center;
    margin: 0 0;
    position: fixed;
    bottom: 30px;
    left: 0;
    border-radius: 0 15px 15px 0;
    background-color: #ffffff;
    /* 盒子阴影 */
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
    animation: glow 8s linear infinite;
    z-index: 2;
}

.container img {
    width: 100%;
    user-select: none;
    margin-top: 9px;
}

.rcontainer {
    /* 溢出隐藏 */
    overflow: hidden;
    display: block;
    width: 70px;
    height: 90px;
    text-align: center;
    margin: 0 0;
    position: fixed;
    bottom: 30px;
    right: 0;
    border-radius: 15px 0 0 15px;
    background-color: #ffffff;
    /* 盒子阴影 */
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
    animation: glow 8s linear infinite;
    z-index: 2;
}

.rcontainer img {
    width: 100%;
    user-select: none;
    margin-top: 9px;
}

@keyframes glow {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

/* 外层容器 */
.my_swiper {
    position: absolute;
    bottom: 130px;
    margin: 0 auto;
    float: left;
    display: none;
}

.swiper {
    height: 100%;
    margin: 0 auto;
}

/* 轮播项 */
.swiper .swiper-slide {
    width: 30%;
    height: 100%;

    font-size: 32px;
    font-weight: 500;
    color: #ffffff;

    /* 文字垂直居中 */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .my_swiper {
        height: 30%;
        width: 100%;
    }

    .swiper {
        width: 90%;
    }

    .swiper .swiper-slide {
        width: 70%;
    }

}

@media (min-width: 1025px) {
    .my_swiper {
        height: 275px;
        width: 100%;
    }

    .swiper {
        width: 60%;
    }
}

.swiper-slide {
    /* 背景图垂直、水平均居中 */
    background-position: center center;
    /* 背景图不平铺 */
    background-repeat: no-repeat;
    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
    background-attachment: fixed;
    /* 让背景图基于容器大小伸缩 */
    background-size: 100% 100%;
    /* 设置背景颜色，背景图加载过程中会显示背景色 */
    background-color: #464646;

}

/* 色彩来源：https://color.uisdc.com/ */
.swiper .swiper-slide-1 {
    background-image: url("../images/box/front1_min.png");
}

.swiper .swiper-slide-2 {
    background-image: url("../images/box/front2_min.png");
}

.swiper .swiper-slide-3 {
    background-image: url("../images/box/front3_min.png");
}

.swiper .swiper-slide-4 {
    background-image: url("../images/box/front4_min.png");
}

.swiper .swiper-slide-5 {
    background-image: url("../images/box/front5_min.png");
}

.swiper .swiper-slide-6 {
    background-image: url("../images/box/front6_min.png");
}

/*##########详情页面########*/
#slide-sec {
    /* 弹性布局 让页面元素垂直+水平居中 */
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    /* 让页面始终占浏览器总高 */
    height: 100vh;
    width: 100vw;
    top: -100vh;
    z-index: 5;
    visibility: hidden;
}

#slide-sec iframe {
    width: 100vw;
    height: 100vh;
}

/*后退按钮*/
.back-btn {
    display: flex;
    position: fixed;
    text-align: center;
    width: 60px;
    height: 60px;
    top: 20px;
    left: -40px;
    border-radius: 50px;
    background-color: #cccac7;
}

.back-btn a {
    display: block;
    margin: auto;
}

.back-btn img {
    width: 50px;
    height: 40px;
}

.border-img {
    height: 100vh;
    width: 90px;
    position: relative;
    top: -200vh;
}

#l-img {
    float: left;
    background-image: url("../images/lborder.png");
    background-size: contain;
    background-repeat: repeat;
}

#r-img {
    float: right;
    background-image: url("../images/rborder.png");
    background-size: contain;
    background-repeat: repeat;
}

/*#######清除浮动########*/
.clearfix:after {
    content: '.';
    height: 0;
    display: block;
    clear: both;
}