* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    /* 弹性布局 让页面元素垂直+水平居中 */
    justify-content: center;
    align-items: center;
    /* 让页面始终占浏览器总宽 */
    width: 100vw;
    height: 100%;
    background-color: #DC8F59;
    background-image: url('../images/box/bg6_min.png');
    background-size: auto;
    /* 视距 增加盒子的立体感 */
}

img {
    width: 100%;
    max-width: 100%;
}

#l1 {
    position: absolute;
    display: none;
}

#l2 {
    position: absolute;
}

#l3 {
    position: absolute;
    display: none;
}

#l4 {
    position: absolute;
    display: none;
}

#l5 {
    position: absolute;
    display: none;
}

#l6 {
    position: absolute;
    display: none;
}

/*后退按钮*/
.back-btn {
    display: flex;
    position: fixed;
    text-align: center;
    width: 60px;
    height: 60px;
    top: 65px;
    left: 10px;
    border-radius: 50px;
    background-color: #cccac7;
    z-index: 10;
}

.back-btn img {
    width: 50px;
    height: 40px;
    margin: auto;
}

/*前进按钮*/
.front-btn {
    display: flex;
    position: fixed;
    text-align: center;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.front-btn img {
    width: 60px;
    height: 60px;
    margin: auto;
}

/*返回按钮*/
.back1-btn {
    display: flex;
    position: fixed;
    text-align: center;
    width: 100px;
    height: 100px;
    bottom: 0;
    left: 0;
    visibility: hidden;
    z-index: 10;
}

.back1-btn img {
    width: 60px;
    height: 60px;
    margin: auto;
}

/*加载动画*/
#img-loading {
    width: 100%;
    height: 100vh;
    margin: auto;
    backdrop-filter: blur(15px);
}

.loading {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 40%;
    left: 43%;
    border-radius: 50%;
    /* 只需要将其它的边的颜色设为透明就好 */
    border: 3px solid transparent;
    /* 我们需要隐藏其它三条边只显示一条边 */
    border-top-color: #9370db;
    animation: rotate 2s linear infinite;
}

.loading::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    /* 这边也是一样 用伪元素做边框 */
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ba55d3;
    animation: rotate 3s linear infinite;
}

.loading::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f0f;
    /* 动画 时长 linear是匀速运动 infinite 是无限次运动 */
    animation: rotate 1.5s linear infinite;
}

/* 下面定义一下动画 */
@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        /* 顺时针旋转360度 */
        transform: rotate(360deg);
    }
}