* {
    margin: 0;
    padding: 0;
}

body {
    /* 弹性布局 让页面元素垂直+水平居中 */
    justify-content: center;
    align-items: center;
    /* 让页面始终占浏览器总宽 */
    width: 100vw;
    height: 100%;
    background-color: #ffffff;
    background-image: url('../images/box/bg6_min.png');
    background-size: auto;
    /* 视距 增加盒子的立体感 */
}

img {
    width: 100%;
    max-width: 100%;
}

#l1 {
    position: absolute;
    display: none;
}

#l2 {
    position: absolute;
}

#l3 {
    position: absolute;
    display: none;
}

#l4 {
    position: absolute;
    display: none;
}

#l5 {
    position: absolute;
    display: none;
}

#l6 {
    position: absolute;
    display: none;
}

/*后退按钮*/
.back-btn {
    display: flex;
    position: fixed;
    text-align: center;
    width: 60px;
    height: 60px;
    top: 10px;
    left: 10px;
    border-radius: 50px;
    background-color: #cccac7;
    z-index: 10;
}

.back-btn img {
    width: 50px;
    height: 40px;
    margin: auto;
}

/*前进按钮*/
.front-btn {
    display: flex;
    position: fixed;
    text-align: center;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.front-btn img {
    width: 60px;
    height: 60px;
}

/*返回按钮*/
.back1-btn {
    display: flex;
    position: fixed;
    text-align: center;
    width: 100px;
    height: 100px;
    bottom: 0;
    left: 0;
    visibility: hidden;
    z-index: 10;
}

.back1-btn img {
    width: 60px;
    height: 60px;
    margin: auto;
}